<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Wszystkie produkty</title>
</head>
<body>

<table class="table table-striped" style="width: 500px;margin:auto">
    <thead>
    <tr>
        <th>Nazwa produktu</th>
        <th>Cena</th>
        <th>Kategoria</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.category}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>