<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<body >

<div class="container" style="margin: fill">
    <div class="row" style="margin: auto">

        <div class="card" style="width: 16rem;">
            <img class="card-img-top"
                 src="http://www.clker.com/cliparts/e/c/e/d/1352236885442170385Add%20Symbol.svg.hi.png"
                 alt="Card image cap" width="80px" height="250">
            <div class="card-body" style="align-content: center; margin: auto">
                <a href="/addProduct" class="btn btn-primary" style="margin: auto">Dodaj zakupiony produkt</a>
            </div>
        </div>

        <div class="card" style="width: 16rem;">
            <img class="card-img-top"
                 src="https://png2.kisspng.com/20180716/jtl/kisspng-clip-art-lista-5b4cd91f2cbf97.0207630115317629751833.png"
                 alt="Card image cap" width="80px" height="250">
            <div class="card-body" style="align-content: center; margin: auto">
                <a href="/allproducts" class="btn btn-primary">Lista zakupionych produktów</a>
            </div>
        </div>
        <div class="card" style="width: 16rem;">
            <img class="card-img-top"
                 src="https://www.feedbackhall.com/uploads/default-category_200x200.jpg"
                 alt="Card image cap" width="80px" height="250">
            <div class="card-body" style="align-content: center; margin: auto;">
                <a href="/addCategory" class="btn btn-primary" style="margin: auto">Dodaj kategorię zakupów</a>
            </div>
        </div>
        <div class="card" style="width: 16rem;">
            <img class="card-img-top"
                 src="https://image.freepik.com/darmowe-wektory/t%C5%82o-ikon-i-lista-elementow-w-p%C5%82askim-stylu_23-2147672650.jpg"
                 alt="Card image cap" width="50px" height="250">
            <div class="card-body" style="align-content: center ; margin: auto;">
                <a href="/allcategories" class="btn btn-primary" style="margin: auto">Lista kategorii</a>
            </div>
        </div>

    </div>
</div>

<img src="https://nyc3.digitaloceanspaces.com/dneegypt/2018/09/Product.jpg">

</body>
</html>