<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title >Wyniki wyszukiwania</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" ></a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Początek <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/allproducts">Pełna lista produktów</a>
            </li><li class="nav-item">
                <a class="nav-link" href="/addProduct">Dodaj produkt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addCategory">Dodaj kategorię</a>
            </li>
        </ul>

        <form name="update" th:action="@{/update}" method="post" class="form-inline my-2 my-lg-0" style="margin: auto">

            <select th:name="field" class="custom-select mr-sm-2" id="field">
                <option selected>Sortuj:</option>
                <option th:value="name" >Nazwach produktów</option>
                <option th:value="category"  >Kategoriach produktów</option>
            </select>

            <select th:name="order" class="custom-select mr-sm-2" id="order">
                <option selected>Jak?</option>
                <option th:value="ASC" >Rosnąco</option>
                <option th:value="DESC"  >Malejąco</option>
            </select>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sortuj</button>
        </form>

        <form name="search" th:action="@{/search}" method="post" class="form-inline my-2 my-lg-0">

            <select th:name="query" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Szukaj w:</option>
                <option th:value="name" >Nazwach produktów</option>
                <option th:value="category"  >Kategoriach produktów</option>
            </select>

            <input class="form-control mr-sm-2" type="search" th:name="string">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
        </form>
    </div>
</nav>

<table class="table table-striped" style="width: 600px;margin:auto">
    <thead>
    <tr style="margin: auto">
        <th>Nazwa produktu</th>
        <th>Cena</th>
        <th>Kategoria</th>
        <th>Usuń</th>
        <th>Modyfikuj</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.category.name}"></td>
        <td><a th:href="${'/delete/' + product.id}" class="btn btn-danger">Usuń</a></td>
        <td><a th:href="${'/edit/' + product.id}" class="btn btn-primary">Modyfikuj</a></td>

    </tr>
    </tbody>
</table>



</body>
</html>